/* off-canvas nav elements, based on Tom Rich's tutorial
 * http://blog.tomri.ch/super-simple-off-canvas-menu-navigation/
 */
#off-canvas-nav {
  position: fixed;
  z-index: 1;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 280px;
  right: -280px;
}

#off-canvas-nav,
#canvas-wrapper {
  -webkit-transform: translate(0%, 0px);
  -moz-transform: translate(0%, 0px);
  -ms-transform: translate(0%, 0px);
  -o-transform: translate(0%, 0px);
  transform: translate(0%, 0px);
  -webkit-transition: all 150ms ease;
  -webkit-transition-delay: 0s;
  -moz-transition: all 150ms ease 0s;
  -o-transition: all 150ms ease 0s;
  transition: all 150ms ease 0s;
}

#off-canvas-nav.active,
#canvas-wrapper.active {
  -webkit-transform: translate(-280px, 0px);
  -moz-transform: translate(-280px, 0px);
  -ms-transform: translate(-280px, 0px);
  -o-transform: translate(-280px, 0px);
  transform: translate(-280px, 0px);
}

.menu-link {
  position: absolute;
  top: 15px;
  left: -65px;
}

#off-canvas-nav > .panel {
  height: 100%;
}

#off-canvas-nav ul li {
  list-style: none;
}
